<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= msg %></p>
    <form action="/" method="post" class="board-form">
        タイトル: <input type="text" name="title" class="input" required><br>
        <br>
        日付: <input type="text" name="c_a" class="input" required><br>
        <br>
        <button type="submit" class="submit">ボード作成</button>
    </form>
  </body>
</html>
